@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$blue: rgb(92, 208, 255);
$purple: rgb(180, 92, 254);

$theme-colors: (
        primary: $blue
);

@import "bootstrap";
@import "slick";

@font-face {
  font-family: 'kharkivregular';
  src: url('../fonts/kharkiv_tone.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body {
  min-height: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $blue;
}

.btn {
  font-weight: 600;
  font-size: 18px;
  &:hover, &:focus {
    color: $light;
  }

  &-primary {
    color: $light;
  }
}

.accordion-button:not(.collapsed) {
  background: linear-gradient(to right, rgb(180, 92, 254), rgb(92, 208, 255));
  color: $light;
}

.contacts {
  font-size: 22px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
  &.hidden {
    display: none;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $light;
  z-index: 100;
}

.main__logo {
  max-width: 180px;
}

.section__title {
  font-family: 'kharkivregular', sans-serif;
  &--light {
    color: $light;
  }
}

.main {
  padding-top: 93px;
}

.hero-section {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  height: calc(100vh - 120px);

  @media (min-width: 768px) {
    height: calc(100vh - 99px);
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background: rgba($secondary, 0.5) no-repeat;
    background: linear-gradient(to right, rgb(58, 0, 106), rgb(0, 115, 162));
    opacity: 0.5;
  }
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-section__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 16px;
  text-align: center;
  color: $light;

  @media (min-width: 768px) {
    max-width: 50%;
  }
}

.hero-section__text {
  font-size: 20px;
}

.services-section {
  .card {
    border: 0;
    border-radius: 0;
  }

  .card-title {
    font-family: 'kharkivregular', sans-serif;
  }

  .card-link {
    color: $blue;
    text-decoration: none;
    &:hover, &:focus {
      border: 1px solid;
    }
  }
}

.calendar-section {
  background: linear-gradient(to bottom, rgb(120, 183, 254), rgb(145, 130, 249));
}

.calendar-tabs {

  .nav-tabs {
    border-color: rgb(120, 183, 254);
  }
  .nav-item {
    font-family: 'kharkivregular', sans-serif;
    font-size: 22px;
    &:focus-visible {
      outline: none;
      border: 0;
    }
  }

  .nav-tabs {
    border-color: transparent;
    .nav-link {
      color: $light;
      border: 0;
      &:hover, &:focus {
        border-color: transparent;
      }
      &.active {
        border: 0;
        border-bottom: 3px solid $light;
        background-color: transparent;
        color: $light;
      }
    }
  }
  .nav-tabs .nav-item.show .nav-link {
    border: 0;
    border-bottom: 3px solid #0d6efd;
    background-color: transparent;
    //background-color: rgb(120, 183, 254);
  }
  .calendly-inline-widget {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    iframe {
      width: 100%;

      [data-container="booking-container"] {
        max-width: 100% !important;
        width: 100%!important;
      }
    }

  }
}

.pros-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.pros-image-container {
  padding: 0;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.choice__slider {
  background: #000;
  padding: 30px 0;
}

.choice__slider-item {
  position: relative;
  margin: 0 15px;
  border-radius: 6px;
  overflow: hidden;
  max-height: 500px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }
  //&:hover {
  //  cursor: pointer;
  //  .choice__slider-caption {
  //    height: 50%;
  //  }
  //}

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.choice__slider-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  color: $light;
  z-index: 2;
  //height: 95px;
  //transition: height 0.3s ease;
}

.choice-slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid $blue;
  z-index: 10;
  &--prev {
    left: 15px;
  }

  &--next {
    right: 15px;
  }

  svg {
    fill: $blue;
  }
  &:hover {
    border-color: $purple;
    svg {
      fill: $purple;
    }
  }
}

.packages-section {
  background: linear-gradient(to bottom, rgb(92, 208, 255), rgb(180, 92, 254));
}

.packages-table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  tbody {
    tr {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
      }
    }
  }
  th, td {
    border: 0;
    padding: 10px 15px;
    position: relative;
    height: 60px;
  }
  th:not(:first-of-type) {
    width: 110px;
    height: 120px;
  }
  tfoot {
    td {
      height: 120px;
    }
  }
}

.service-title {
  width: 350px;
  text-align: left;
}

.package-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'kharkivregular', sans-serif;
}

.package-price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 26px;
  text-transform: uppercase;
  font-family: 'kharkivregular', sans-serif;
}

.filled-rectangle {
  width: 15px;
  height: 15px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.border-rectangle {
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.useful-section {
  iframe {
    width: 100%;
    @media (min-width: 360px) {
      height: 205px;
    }

    @media (min-width: 540px) {
      height: 290px;
    }

    @media (min-width: 768px) {
      height: 400px;
    }

    @media (min-width: 1024px) {
      height: 530px;
    }

    @media (min-width: 1400px) {
      height: 735px;
    }


  }
}

.partners-section {
  background: linear-gradient(to bottom, rgb(120, 183, 254), rgb(145, 130, 249));
}

.partners-slider {
  .slick-track {
    display: flex;
    align-items: center;
  }
}

.partners-slider__item {
  padding: 0 30px;
  @media (max-width: 480px) {
    padding: 0 60px;
  }
  img {
    margin: 0 auto;
  }
}

.faq-section {
  .accordion-button::after {
    content: '\002B';
    font-size: 1.5rem;
    line-height: 1;
    background-image: none;
    width: auto;
    height: auto;
  }
  .accordion-button:not(.collapsed)::after {
    content: '\2212';
  }
  .accordion-button {
    font-size: 1.25rem;
    &:focus {
      box-shadow: none;
    }
  }
}

.contact-us-image {
  @media (min-width: 1024px) {
    margin-top: -30px;
    margin-bottom: -30px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;


    @media (min-width: 1024px) {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }
}

.contact-us-form {
  background: $light;
  padding: 30px;


  @media (min-width: 1024px) {
    margin-left: -60px;
    border-radius: 6px;
  }

  .select2-container--default .select2-selection--single {
    border: 1px solid rgb(222, 226, 230);
    height: 38px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    right: 5px;
  }

  textarea {
     resize: none;
  }
}

.select2-container--default .select2-results__option--selected {
  background-color: rgba(120, 183, 254, 0.5);
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: linear-gradient(to right, rgb(120, 183, 254), rgb(145, 130, 249));
}

.contact__item  {
  address {
     line-height: 1;
  }
}

.contact__item-link {
  text-decoration: none;
  //color:;
}

.footer-image-wrapper {
  max-height: 300px;
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.error-message {
  opacity: 0;
  color: $danger;
  font-size: 12px;
  min-height: 18px;
}

.has-error {
  .error-message {
    opacity: 1;
  }
}

#detailsModal {
  .modal-dialog {
    max-width: 700px;
  }

  textarea {
    resize: none;
  }
}

.form-control:focus {
  box-shadow: none;
}